body {
    background-color:#000;
    padding:0px;
}
#header {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:960px;
    height:278px;
    top:-8px;
    background-image:url("../images/logo.png");
    background-repeat:no-repeat;
    background-position-x:center;
}
.workstation 
{
background-color:white;
margin-left:auto;
    margin-right:auto;
    width:780px;
    height:880px;
}
.workstationindex
{
background-color:white;
margin-left:auto;
    margin-right:auto;
    width:1000px;
    height:550px;
}
.login 
{
    margin-top:10px;
    background-color:white;
}
.menuclose 
{
    margin-left:20px;
    float:left;
    color:#fff;
}
.menuopen 
{
    margin-right:20px;
    list-style:none;
    float:left;
    color:#fff;
}
.menu 
{
margin-left:20px;
margin-right:20px;
color:#fff;
float:left;
}
.tytul 
{
font-size:18pt;
color:black;
font-family:Impact;
border-bottom: solid 1px black;
}
.menustyle 
{
margin-top:20px;
text-decoration:none;
font-family:'Century Gothic';
font-size:18pt;
list-style-position:outside;
/*font-weight:bold;*/
}
#face-slider{
	position:fixed;
	right:-302px;
	top:190px;
	z-index:100;
}
#face-slider #tab{
	cursor:pointer;
	height:35px;
	width:35px;
	float:left;
	background: url("../images/fb.png") no-repeat center center;

}
#face-code {
    padding: 5px;
    background: #181818;
    float: left;
    color:#ffffff;
    width: 286px;
    height: 271px;
    -moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
}
.main {
    margin-top:5px;
    text-decoration:none;
    color:black;
    font-size:12pt;
}
.righter {
float:right;
font-size:14pt;
}
.footer {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    font-family:'Century Gothic';
    font-size:10pt;
    color:#6dffdc;
    width:124px;
}
.nav {
    font-size: 16pt;
    color: black;
    font-family: Impact;
}
.nagl {
    font-size: 18pt;
    color: black;
    font-family: Impact;
    margin-left:auto;
    margin-right:auto;
    width:32%;
}
.ramka {
    border-top: solid 1px #181818;
    border-bottom: solid 1px #181818;
    height:23px;
    width:100%;
}
.banner {
    overflow: auto; margin-bottom:10px; width:100%; margin-left:auto; margin-right:auto; 

}
    .banner li 
    { 
        list-style: none; 

    }
    .banner ul li
     {
        float: left;
    }
          .banner ul {padding:0px;}
.foto2 {
    margin-left: 10px;
}
#search {
    width: 150px;
    height: 25px;
    margin-top: 7px;
    margin-right: 25px;
    float: right;
    background: url(../images/search.png) no-repeat right center #fff;
    -moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
#date {
    text-decoration:none;
font-family:'Century Gothic';
font-size:18pt;
color:#6dffdc;
float:left;
margin-left:25px;
margin-top:8px;
}
.fader {
  position:relative;
  height:495px;
  width:960px;
  margin:0 auto;
}

.fader img {
  position:absolute;
  left:10px;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.fader img.top:hover {
  opacity:0;
}
.old 
{
float:right; 
margin-right:10px; 
text-decoration:none; 
color:black;
font-family:'Century Gothic';
font-size:14pt;
}
.patrons
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color:#181818;
    font-family:'Century Gothic';
    font-size:14pt;
    width:62px;
    margin-top:35px;
}
.bott 
{
width:960px;
margin-top:-10px;
height:62px;
margin-left:auto;
margin-right:auto;
}
.faderpatroni 
{ 
    display: inline-block; 
    margin-left:40px;
    width:96px;
    margin-top:-300px;
}
.faderpatroni img:last-child {
    position: absolute;
    display: none;
    margin-left:-96px;
}

.faderpatroni3 
{ 
    display: inline-block; 
    width:238px;
    margin-top:-200px;
    margin-left:20px;
}
.faderpatroni3 img:last-child {
    position: absolute;
    display: none;
    margin-left:-238px;
}
.faderpatroni2 
{ 
    display: inline-block; 
    width:130px;
    margin-top:-200px;
    margin-left:20px;
}
.faderpatroni2 img:last-child {
    position: absolute;
    display: none;
    margin-left:-130px;
}
.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    text-align: center;
}
.dots li {
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #6dffdc;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.dots li.active {
    background: #6dffdc;
    opacity: 1;
}
#sending {
font-family:'Century Gothic';
font-size:12pt;
}
.righttd {
text-align:right;
vertical-align:top;
}
table {
margin:auto;
}
.lefttd {
    margin-left:auto;
    margin-right:auto;
}
.phpnagl {
    font-family:'Century Gothic';
font-size:12pt;
text-align:center;
}
.top {
width:960px;
}
.fotart {
margin-top:10px;
margin-left:auto;
margin-right:auto;
width:960px;
}
.fotomore {
width:960px;
}
.bottom{
width:960px;
}
.tytle {
position:absolute;
z-index: 3;
margin-top:-50px;
margin-left:20px; 
text-decoration:none; 
color:white;
font-family:'Century Gothic';
font-size:18pt;
}
.tytlemore {
text-align:center;
text-decoration:none; 
color:black;
font-family:'Century Gothic';
font-size:20pt;
text-transform: uppercase;
margin-bottom:5px;
}
.artmore {
clear:both;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#fff;
}
.morefoot {
width:960px; margin-left:auto; margin-right:auto; border-top:1px solid black; 
}
.rightmore {
float:right; width:50%; text-align:right;
}
.fontmore {
text-decoration:none; 
color:black;
font-family:'Century Gothic';
font-size:13pt;
}
.gora {
    position: fixed;
    bottom: 2em;
    right: 4px;
    background: url('../images/arrow.png') no-repeat scroll 0% 0% transparent;
    padding: 1em;
    display: none;
    z-index: 10000;
    -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.gora:hover {
        background: url('../images/arrowhower.png') no-repeat scroll 0% 0% transparent;
        -webkit-transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out;
    }